*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

.header{
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(25, 45, 112, 0.7), rgba(112,124,172,0.7)), url("./Home.png");
    background-position: center;
    background-size: cover;
    position: relative;
}

nav{ 
   display: flex;
   padding:.5em;
   justify-content: space-between;
   align-items: flex-start;
   
}

.logo-container{
    height:50px;
    width:50px;
}
.logo-div{
    height:100%;
    width:100%;
}
.logo{
    display:block;
    object-fit: cover;
    height:100%;
    width:100%;
}
.nav-links{
    flex: 1;
    text-align: right;
}

.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}

.nav-links ul li a{
    color: white;
    text-decoration: none;
    font-size: 13px;
}

.nav-links ul li::after{
    content : '';
    width: 0%;
    height: 2px;
    background: #0cc0a8;
    display: block;
    margin: auto;
    transition : 0.5s;
}

.nav-links ul li:hover::after{
    width:100%;
}

.text-box{
    width: 90%;
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}

.text-box h1{
    font-size: 62px;
}

nav .fa{
    display: none;
}

@media(max-width: 700px){
    .text-box h1{
        font-size: 20px;
    }
    .nav-links ul li{
        display: block;
    }
    .nav-links{
        position: absolute;
        background: #0cc0a8;
        height: 100vh;
        width: 200px;
        top: 0;
        right: -200px ;
        text-align: left;
        z-index:2;
        transition: 0.5s;
    }

    nav .fa{
      display: block;
      color: #fff;
      margin: 10px;
      font-size: 22px;
      cursor: pointer;
    }

    .nav-links li{
        padding: 30px;
    }
}

/*WHY NACOSS*/
.why-nacoss{
    min-height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fddcc356;

}
.why-nacoss-container{
    width:90%;
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;

}
.why-nacoss-left{
    width: 100%;
    height: 500px ;
    background-image: url(./Excos.png);
    background-repeat: no-repeat;
    background-position: center;
    object-fit: cover;
    border-radius: 8px;
}
.why-nacoss-right{
    width: 50%;
    min-height: 400px;
    background-color: #2f3d3c;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px;
    border-radius: 8px;
}

/*Memories*/
.memories-container{
    margin: 20px 40px;
    display: grid;
    grid-template-columns: repeat(2, 625px);
    align-items: center;
}

.memories-heading{
    font-size: 60px;
    color:#24262b;
}

.responsive{
    display: flex;
    justify-content: space-around;
    margin: 20px 80px;
    align-items: center;
}

.gallery{
    flex-basis: 260px;
    align-items: center;
}

.gallery .gallery-img{
    height: 260px;
    width: 260px;
    align-items: center;
}

.gallery h5{
    font-size: 18px;
    font-weight: 300;
    letter-spacing: 3px;
    color: black;
}

@media (max-width: 700px){
    .responsive{
        flex-direction: column;
    }

    .gallery{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

}

/*Footer*/
.footer-container{
    max-width: 1170px;
    margin: auto;
}

ul{
    list-style: none;
}

.footer{
    background-color: #24262b;
    padding: 70px 0;
}

.footer-row{
     display: flex;
     flex-wrap: wrap;
}

.footer-col{
    width: 25%;
    padding: 0 15px;
}

.footer-col h4{
    font-size: 18px;
    color: white;
    text-transform: capitalize;
    margin-bottom: 35px;
    font-weight: 500;
    position: relative;
}

.footer-col h4::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    background-color: #0cc0a8;
    height: 2px;
    box-sizing: border-box;
    width: 50px;
}

.footer-col ul li:not(:last-child){
    margin-bottom: 10px;
}

.footer-col ul li a{
    font-size: 16px;
    color: white;
    text-decoration: none;
    font-weight: 300;
    color: silver;
    display: block;
    transition: all 0.3s ease;
}

.footer-col ul li a:hover{
    color: white;
    padding-left: 5px;
}

@media (max-width: 700px) {
    .footer-col{
        width: 50%;
        margin-bottom: 30px;
    }
}